/* common settings */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF5E2
}

.container{
  width: 100%;
  height: 100vh;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}

.flex {
  display: flex;
}

header,main,footer{
  width: 50%;
  margin: auto;
}

input:focus,button:focus{
  outline: none;
}
/* fine common settings */
/* inizio header */
header{
  background-color: #FDBB40;
  height: 150px;
  position: relative;
}

header h1{
  padding: 55px 55px 25px 55px;
}

header .fl-right{
  position: absolute;
  top: -10px;
  right: -70px;
}

header img{
  text-align: right;
  border-radius: 50%;
  vertical-align: top;
  height: 200px;
}
/* fine header */
/* inizio main */
main{
  background-color: #fff;
  height: calc(100vh - 250px);
}

main .input-hamburger{
  padding: 55px 55px 25px 55px;
}

main .input-hamburger input{
  width: 500px;
  height: 50px;
  font-size: 35px;
  border: none;
  color: #b3b3b3;
}

main h2{
  font-size: 25px;
  font-weight: normal;
  padding-left: 55px;
}

main ul li{
  list-style: none;
  font-size: 20px;
  margin-top: 20px;
}

main .list{
  width: 100%;
  height: 200px;
  justify-content: flex-start;
}

main .list label{
  color: #D33359;
}

main .first-list, main .second-list{
  padding-left: 55px;
}

main .img-dimension{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

main .img-dimension img{
  width: 100%;
}
/* parte custom  */

/* fine custom */

main .input-coupon{
  margin-top: 90px;
}

main .input-coupon label{
  font-size: 20px;
  padding: 55px 15px 25px 55px;
}

main .input-coupon input{
  width: 50%;
  height: 30px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  color: #757575;
  background-color: #FFF5E2;
  padding: 10px;
}

main .butt-container{
  margin: 50px auto;
  height: 50px;
  width: 150px;
}

main .butt-container button{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  background-color: #FDBB40;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* fine main */
/* inizio footer */
footer{
  background-color: #D33359;
  height: 100px;
  color: #fff;
}

footer div{
  padding: 25px 55px 15px 55px;
  font-size: 30px;
  font-weight: bold;
}
/* fine footer */
