/* common settings */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF5E2;
}

.container{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}

.flex {
  display: flex;
}

header,main,footer{
  width: 50%;
  margin: auto;
}

main h2 ,main .first-list, main .second-list{
  padding-left: 55px;
}

input, button{
  outline: none;
}
/* fine common settings */
/* inizio header */
header{
  background-color: #FDBB40;
  height: 150px;
  position: relative;
}

header h1{
  padding: 55px 55px 25px 55px;
}

header .fl-right{
  position: absolute;
  top: -10px;
  right: -70px;
}

header img{
  text-align: right;
  border-radius: 50%;
  vertical-align: top;
  height: 200px;
}
/* fine header */
/* inizio main */
main{
  background-color: #fff;
  height: calc(100vh - 25px);
}

main .input-hamburger{
  padding: 55px 55px 25px 55px;
}

main .input-hamburger input{
  width: 500px;
  height: 50px;
  font-size: 35px;
  border: none;
  color: #b3b3b3;
}

main h2{
  font-size: 25px;
  font-weight: normal;
}

main ul li{
  list-style: none;
  font-size: 20px;
  margin-top: 20px;
}

main .list{
  width: 100%;
  height: 200px;
  flex-direction: column;
  flex-wrap: wrap
}

main .list label{
  color: #D33359;
}

main .img-dimension{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

main .img-dimension img{
  width: 100%;
  vertical-align: middle;
}
/* parte custom  */
.check-v{
  position: absolute;
  top: 8px;
  left: 12px;
  width: 18px;
  height: 18px;
  background-color: #D33359;
}

/* creare l'indicatore check, nascosto quando non è checkato */
.check-v::after{
  content: "";
  position: absolute;
  display: none;
}

/* mostrare checkmark quando è checkato */
.ingredient:checked ~ .check-v:after{
  display: block;
}

.check-container{
  display: inline-block;
  padding-left: 45px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  position: relative;
}

/* checkmark style */
.check-container .check-v:after{
  left: 0px;
  color: #000;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '\f00c';
  bottom: 0px;
}

.ingredient{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}
/* fine custom */

main .input-coupon{
  margin-top: 100px;
}

main .input-coupon label{
  font-size: 20px;
  padding: 55px 15px 25px 55px;
}

main .input-coupon input{
  width: 50%;
  height: 30px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  color: #b3b3b3;
  background-color: #FFF5E2;
  padding: 10px;
}

main .butt-container{
  margin: 50px auto;
  height: 50px;
  width: 150px;
}

main .butt-container button{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  background-color: #FDBB40;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

main .tot-shop{
  position: fixed;
  top: 65%;
  right: 27%;
}

main .image-shop{
  position: relative;
  top: 65%;
  right: 25%;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 5px 2px 13px 0px rgba(0,0,0,0);
  background-color: #D33359;
}

main .image-shop i{
  font-size: 28px;
  margin-left: 7px;
}

main .image-shop i:hover{
  transform: scale(1.3);
}

main .shop{
  width: 200px;
  height: 100px;
  border: 2px solid #000;
  position: absolute;
  background-color: #fff;
  right: 25%;
  overflow: auto;
  border-radius: 15px;
  box-shadow: 5px 2px 13px 0px rgba(0,0,0,0);
  display: none;
}

main .shop ul li{
  font-size: 15px;
  margin-top: 2px;
  margin-left: 10px;
}

main .shop hr{
  border-color: #FDBB40;
}

main .tot-shop:hover .shop{
  display: inline-block;
}

#refresh{
  height: 40px;
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  background-color: #FDBB40;
}
/* fine main */
/* inizio footer */
footer{
  justify-content: space-between;
  background-color: #D33359;
  height: 100px;
  color: #fff;
}

footer div{
  padding: 25px 55px 15px 55px;
  font-size: 25px;
  font-weight: bold;
}

#payment{
  height: 40px;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px;
  background-color: #FDBB40;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}
/* fine footer */
